/*
Theme name: Mordana
*/

ul.pagination li a:hover {
	    background: #68A4C4;
		color: #fff;

}
ul.page-numbers{
	margin: 0;
	padding: 0;
	list-style:none;
}
ul.page-numbers li{
	display: inline;
}
ul.page-numbers li a{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

ul.page-numbers li span .current{
	background: #428bca;
	color: #fff;
}

/*custon widget*/

.widget ul{
	    margin: 0;
    padding: 0;
    list-style: none;
	
}
ul li.cat-item{
	    margin: 0 0 15px 0;
    list-style: none;
}

ul li.cat-item a{    
	color: #656565
}
ul li.cat-item a:hover{
	color:#428bca;
}
.widget ul.recent li img{
	margin: 0 15px 15px 0;
	width: 65px;
	height: 65px;
	float: left;
}

.tagcloud a{
	background: #e6e6e6;
    color: #333;
    padding: 5px 10px;
	font-size: 14px !important;
	display: inline-block;
	margin-bottom: 5px;
}
.tagcloud a:hover{
	background: #68A4C4;
	text-decoration:none;
	color: #fff;
}